/*

Colors: Royal Blue: 15 53 166 #0F35A6
    Dark Blue: 16 41 115 #102973
    Mid Blue: 107 165 242 #6BA5F2
    Light Blue: 128 199 242 #80C7F2
    Sea Green: 162 242 234 #A2F2EA
*/

/****************************************************
                      Layout
****************************************************/

body {
  font-family: 'Bubblegum Sans', sans-serif;
  font-size: 1.2em / .1em;
}
.container {
  margin: 0 auto;
  max-width: 960px;
}
.services-row {
  height: 100%;
  background-color: rgba(107,165,242,.2);
  text-align: center;
  color: #6BA5F2;
  padding: 15px 0;
}
.services-row a,
.services-row a:active,
.services-row a:hover,
.services-row a:visited,
.services-row a:focus {
  color: #6BA5F2;
  text-decoration: none;
}
#footer {
  height: 100%; 
  background: #102973;
  color: #fff;
  text-align: center;
}
#footer .media {

}

/****************************************************
                      Typography
****************************************************/

h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.5em;
}
h3 {
  font-size: 1em;
}
h4 {
  font-size: .75em;
}
h5 {
  font-size: .5em;
}
h6 {
  font-size: .25em;
}

/****************************************************
                      Images
****************************************************/

.logo-img {
  margin: auto;
  padding: .5em 0;
}
.hero-img {
  margin: auto;
  width: 960px;
}
.social-icon {
  width: 40px;
  height: 40px;
}
.img-circle {
  height: 50px;
  width: 50px;
}

/****************************************************
                      Navigation
****************************************************/

.navbar {
  margin-bottom: -.15em;
}
.navbar-collapse {
  background: #6BA5F2;  
}
.navbar-collapse ul {
  background: #6BA5F2;  
}
.navbar-collapse .active a,
.navbar-collapse .active a:active,
.navbar-collapse .active a:hover,
.navbar-collapse .active a:visited,
.navbar-collapse .active a:focus
 {
  position: relative;
  color: #fff;
  text-decoration: none;
  background: #6BA5F2;
}
.navbar-collapse .active a:hover,
.navbar-collapse .active a:active,
.navbar-collapse .active a:focus {
  background: #80C7F2;
}
.navbar-collapse .dropdown a,
.navbar-collapse .dropdown a:active,
.navbar-collapse .dropdown a:hover,
.navbar-collapse .dropdown a:visited,
.navbar-collapse .dropdown a:focus {
  position: relative;
  color: #fff;
  text-decoration: none;
  background: #6BA5F2;
}
.navbar-collapse .dropdown a:hover,
.navbar-collapse .dropdown a:active,
.navbar-collapse .dropdown a:focus {
  background: #80C7F2;
}

@media (min-width: 768px) {
    .navbar .navbar-nav {
      display: inline-block;
      float: none;
      vertical-align: top;
    }

    .navbar .navbar-collapse {
      text-align: center;
    }
    .marketing {
      padding-left: 0;
      padding-right: 0;
  }
  /* Bump up size of carousel content */
    .carousel-caption p {
      margin-bottom: 20px;
      font-size: 21px;
      line-height: 1.4;
  }
}

/****************************************************
                      Carousel
****************************************************/

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  margin-bottom: -15px;
  font-size: 1.12em;
  z-index: 1;
}
/* Declare heights because of positioning of img element */
.carousel .item {
  height: 400px;
  background-color:#555;
}
.carousel img {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 400px;
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Pad the edges of the mobile views a bit */
.marketing {
  padding-left: 15px;
  padding-right: 15px;
}

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  text-align: center;
  padding: 20px 0;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-left: 10px;
  margin-right: 10px;
}

/*.navbar-nav > li > a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: transparent;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}*/

/*.navbar-nav > li > a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}*/