/*

Colors: Royal Blue: 15 53 166 #0F35A6
    Dark Blue: 16 41 115 #102973
    Mid Blue: 107 165 242 #6BA5F2
    Light Blue: 128 199 242 #80C7F2
    Sea Green: 162 242 234 #A2F2EA
*/

/****************************************************
                      Layout
****************************************************/

body {
  margin-top: 50px;
  color: #102973;
}
.container {
  margin: 0 auto;
  max-width: 960px;
  background-color: rgba(107,165,242,.2);
  /* border: 1px solid #000; */
}
.about-row {
  color: #6BA5F2;
  background-color: #fff;
  height: 200px;
  padding-top: 20px;
  border: 1px dotted rgba(16, 41, 115, .6)
}
.services-row {
  text-align: center;
  padding: 1em 0 2em 0;
}
.services-row a,
.services-row a:active,
.services-row a:hover,
.services-row a:visited,
.services-row a:focus {
  color: #102973;
  text-decoration: none;
}
.services-row .col-sm-4 {
  padding: 1em 0;
}
.contact-row {
  margin-top: 2em;
}
.map-row {
  margin: 2em;
}
.footer-row {
  background-color: #102973;
  color: #fff;
  text-align: center;
  margin-top: 6em;
}
.title-row {
  padding: 2em 0 3em 0;
}
.form {
  padding-top: 2em;
}
  
/* div[class*='col'] {
  border: 1px solid #000;
} */


/****************************************************
                      Typography
****************************************************/

body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Cabin', sans-serif;
  line-height: 1.2;
  font-size: 12px;
}
h1 {
  font-size: 2.1em;
  font-weight: 500;
}
h2 {
  font-size: 1.7em;
  font-weight: 300;
}
h3 {
  font-size: 1.4em;
  font-weight: 300;  
}
h4 {
  font-size: 1.2em;
  font-weight: 300;
}
h5 {
  font-size: 1.1em;
  font-weight: 300;
}
h6 {
  font-size: 1em;
  font-weight: 300;
}

/****************************************************
                      Images
****************************************************/

.logo-img {
  height: 50px;
  width: 200px;
  margin: -15px 0;
}
.hero-img {
  margin: auto;
  width: 960px;
}
.social-icon {
  width: 40px;
  height: 40px;
}
.img-staff {
  width: 117px;
  height: 114px;
  float: left;
  padding-right: 3px;
}
.img-circle {
  height: 50px;
  width: 50px;
}
.img-map {
  width: 100%;
  height: 100%;
  border: 0;
}


/****************************************************
                      Navigation
****************************************************/

.navbar-default {
  max-width: 960px;
  margin: 0 auto -1px;
}
.navbar-default .navbar-nav > li > a {
  font-size: 1.2em;
}
.dropdown-menu > li > a {
  color: #fff;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-menu > a, .n.dropdown-menu > a:hover, .dropdown-menu > .active > a:focus {
  color: #fff;
}
.navbar-default .navbar-toggle {
  border-color: #80c7f2;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #80c7f2;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff;
}
.navbar-toggle {
  background: #6BA5F2;
}

/*.navbar-collapse ul {
  background: #6BA5F2;  
}
.navbar-collapse .active a,
.navbar-collapse .active a:active,
.navbar-collapse .active a:hover,
.navbar-collapse .active a:visited,
.navbar-collapse .active a:focus
 {
  position: relative;
  color: #fff;
  text-decoration: none;
  background: #6BA5F2;
  font-size: 1.5rem;
}
.navbar-collapse .active a:hover,
.navbar-collapse .active a:active,
.navbar-collapse .active a:focus {
  background: #80C7F2;
  font-size: 1.5rem;
}
.navbar-collapse .dropdown a,
.navbar-collapse .dropdown a:active,
.navbar-collapse .dropdown a:hover,
.navbar-collapse .dropdown a:visited,
.navbar-collapse .dropdown a:focus {
  position: relative;
  color: #fff;
  text-decoration: none;
  background: #6BA5F2;
  font-size: 1.5rem;  
}
.navbar-collapse .dropdown a:hover,
.navbar-collapse .dropdown a:active,
.navbar-collapse .dropdown a:focus {
  background: #80C7F2;
  font-size: 1.5rem;  
}

.navbar-form input, .form-inline input {
  width:auto;
}
*/



/****************************************************
                      Carousel
****************************************************/

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  margin-bottom: -15px;
  font-size: 1.12em;
  z-index: 1;
}
/* Declare heights because of positioning of img element */
.carousel .item {
  height: 400px;
  background-color:#555;
}
.carousel img {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 400px;
}

/****************************************************
                      Panel
****************************************************/
 
.panel-default > .staff-heading {
    border-radius: 6px 6px 0 0;
    color: #fff;
  }
.panel-default > .staff-heading > h2 {
    margin: 1px;
  }
.panel-default > .staff-body {
    border-radius: 0 0 6px 6px;
    background: #fff;
  }

/****************************************************
                      Buttons
****************************************************/

.btn-default,
.btn-default:hover,
.btn-default:active,
.btn-default:visited {
  background: #102973;
  color: #fff;
}

/****************************************************
                      Labels
****************************************************/

/* .label-meet,
.label-meet > a,
.label-meet > a:hover,
.label-meet > a:active,
.label-meet > a:visited {
  background: #102973;
  color: #fff;
} */
.label-meet{
  margin-right: 3px;
}

/****************************************************
                      Blog
****************************************************/

#masthead {
  min-height:199px;
}

#masthead h1 {
  font-size: 55px;
  line-height: 1;
  margin-top:50px;
}

#masthead .well {
  margin-top:31px;
  min-height:127px;
}

.navbar.affix {
  position:fixed;
  top:0;
  width:100%;
}

.story-img {
  margin-top:25%;
  display:block;
}

a,a:hover {
  text-decoration:none;
}

@media screen and (min-width: 768px) {
  #masthead h1 {
    font-size: 80px;
  }
}

.dropdown-menu {
  min-width: 250px;
}

.panel {
  border-color:transparent;
  border-radius:0;
  background-color: transparent;
}

.thumbnail {
  margin-bottom:8px;
}

.img-container {
  overflow:hidden;
  height:170px;
}

.img-container img {
  min-width:280px;
  min-height:180px;
  max-width:380px;
  max-height:280px;
}

.txt-container {
  overflow:hidden;
  height:100px;
}

.panel .lead {
  overflow:hidden;
  height:90px;
}

.label-float{
  margin:0 auto;
  position: absolute;
  top: 0;
  z-index: 1;
  width:100%;
  opacity:.9;
  padding:6px;
  color:#fff;
}
    
.btn-twitter {background-color:#4099FF;color:#fff;}
.btn-facebook {background-color:#3B5998;color:#fff;}
.btn-google-plus {background-color:#d34836;color:#fff;}

.btn-twitter:hover {background-color:#3088FF;color:#62BBFF;}
.btn-facebook:hover {background-color:#2A4998;color:#4C6BBA;}
.btn-google-plus:hover {background-color:#C23836;color:#E45A58;}

/****************************************************
                      Forms
****************************************************/

.well,
.well-sm {
  background: rgba(255,255,255,.8);
}
legend {
  color: #102973;
}

/****************************************************
                    Media Queries
****************************************************/

@media (max-width: 767px) {
  body {
    font-size: 1em;
    }
  }

@media (max-width: 990px) {
  .navbar-default {
    max-width: 750px;
  }
}

@media (min-width: 768px) {
  .navbar-nav.navbar-right:last-child {
    margin-right: 0;
  }

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #fff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #fff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #fff;
    background-color: #80c7f2;
  }
}